

.playfair-display-normal {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
  }
  



/* Nave Styles */
nav{
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800px;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
    
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}



nav ul li {
    list-style: none;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
    
}


/* Shared Color */
.logo-color{
    color: #EC5B53;
}

.drak-2{
    color:#242424;
}

.btn-primary{
    background-color: #EC5B53;
    color: white;
    padding: 8px 18px;
    border-color: #EC5B53;
    border-radius: 2px;
    font-size: 18px;

}