

.playfair-display-normal {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
  }
  




/* Nave Styles */
nav{
    display: flex;
}

.nav-title{
    font-weight: 800px;
    font-size: 45px;
}

/* logo middle color */
.logo-color{
    color: #EC5B53;
}